*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: green;
    width: 100vw;
    height: 1em;
    
    position: fixed;
    top: 0;
}
.sidebar{
    background-color: blue;
    color: white;
    width: 3em;
    height: 100vh;
    position: fixed;
    top: 1em;
    overflow: scroll;
}
.content{
    position: absolute;
    top: 0;
    z-index: -1;
    margin-top: 1em;
    margin-left: 3em ;
}