* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: tomato;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.content {
    background-color: white;
    width: 20vw;
    height: 20vw;
    transition: all 0.5s ease-in-out;
}

.content:hover {
    background-color: black;
    transform: scale(1.2);
}